<div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Beacons Assignment</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                </div>
              </div>
              <!-- /.card-header --> 
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      
                      <th>Brand</th>
                      <th>Beacon Status</th>
                      <th>Dominance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Brand1</td>
                      <td><span class="badge badge-success">Assigned</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">58%</div>
                      </td>
                    </tr>
                    <tr>
                      <td>Brand2</td>
                      <td><span class="badge badge-warning">Not Working</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">--</div>
                      </td>
                    </tr>
                    <tr>
                      <td>Brand3</td>
                      <td><span class="badge badge-danger">Not Assigned</span></td>
                      <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">--</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            